.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.job {
    width: 100%;
    position: relative;
    padding: 10px 0 10px 0;
    border-top: 1px solid #d4e4f2;
    box-sizing: border-box;
    z-index: 50;
}

.job:first-child {
    border-top: none;
}

.job:hover {
    background: #BFD0FF;
    padding: 10px 0 10px 0;
}

.job-name {
    width: 75%;
    float: left;
    line-height: 25px;
    padding-left: 10px;
}

.job-name a {
    min-height: 20px;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color: #0C2577;
    display: inline-block;
}

.job-name a:hover {
    text-decoration: underline;
}

.job-name-item {
    float: left;
    text-align: left;
    width: 100px;
}

.job-build {
    float: right;
    margin-right: 5px;
}

.job-build a {
    display: inline-block;
}

.btn-danger:hover {
    background: #DD1144;
    color: #eeeeee;
    border: 1px solid #aaaaaa;
}

.container {
    width: 40%;
    float: left;
    margin-right: 50px;
}

.headline {
    background: #0C2577;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #fff;
    font: bold 16px/21px 'Trebuchet ms', Helvetica, Arial, sans-serif;
    padding: 10px 0 10px 0;
    width: 100%;
    position: relative;
    text-align: center;
}

.jobsPerGroup {
    list-style: none;
    border-top: 1px solid #d4e4f2;
    color: #0C2577;
    background-color: #EFF5FA;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    width: 100%;
}

.btn {
    border-radius: 5px;
    padding: 4px 10px;
}

.btn-danger {
    background: #ac2925;
    border: 1px solid #cccccc;
    color: #ffffff;
    text-decoration: none;
}

.build-in-progress {
    background: green;
    border: 1px solid #cccccc;
    color: #ffffff;
    text-decoration: none;
    cursor: not-allowed;
}

.run-icon {
    background: url("../img/run.png") no-repeat;
    height: 25px;
    width: 25px;
    opacity: 0.8;
}

.run-icon:hover {
    opacity: 1;
}

.run-all-item-name {
    color: red;
    font-weight: bold;
}

.loader {
    background: url("../img/loader.gif") no-repeat;
    height: 25px;
    width: 25px;
    margin-right: 3px;
    cursor: not-allowed;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-submit {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-left: 5px;
}

.btn-submit:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.btn-in-progress {
    cursor: not-allowed;
}

.form-default {
    display: inline-block;
}

.form-control {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    float: left;
}

.overlayer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(238,238,238, 0.5) url('../img/loader.gif') no-repeat center;
    z-index: 100;
    display: none;
}

.overlayer.active {
    display: block;
}

.failed-jobs-percent {
    color: red;
}

@media (max-width: 1200px) {
    .container {
        width: 80%;
    }

}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    .job {
        height: auto;
    }

    .job-build {
        float: none;
        margin: 0;
        text-align: center;
    }

    .job-name {
        float: none;
        text-align: center;
        width: 100%;
    }
}




























